/* GRID.CSS */
/* structures, containers, rows, columns */
.container{
    max-width:1280px;
    margin: 0 auto;
}
.container-fluid{
    width:100%;
    padding:0 10px;
}
.row{
    display: flex;
    flex-direction: row;
}
.col-1{width:8.333333%;}
.col-2{width:16.666666%;}
.col-3{width:25%;}
.col-4{width:33.333333%;}
.col-5{width:41.666666%;}
.col-6{width:50%;}
.col-7{width:58.333333%;}
.col-8{width:66.666666%;}
.col-9{width:75%;}
.col-10{width:83.333333%;}
.col-11{width:91.666666%;}
.col-12{width:100%;}

.border{
    border:solid 1px black;
}











