/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    max-width: 100%
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

body * {
    font-family: 'Lato', sans-serif;
}


/* ------------------------------
----------- MY CSS --------------
------------------------------ */
h2, h3{
    color:#df2d2b;
}
header{
    background-color:#032c4c;
    position:fixed;
    width:100%;
    z-index:9999;
}
header .logo{
    width:14%;
}
header .main-menu{
    width:52%;
}
header .user-menu{
    width:34%;
}
header ul{
    list-style-type: none;
}
header li{
    display:inline-block;
}
header li a{
    color:white;
    text-decoration:none;
    padding:15px 20px;
}
header li a:hover{
    background-color:rgba(255,255,255,.2);
}

header .user-menu{
    text-align: right;
}
header .main-menu a{
    text-transform: uppercase;
}
header .logo img{
    margin-top: 15px;
}



#section-1{
    background-image:url(../img/bg1.jpg);
    padding:200px 0px 350px 0px;
    text-align: center;
}
#section-1 h1{
    color:white;
    text-transform: capitalize;
}
#section-2{
    padding:45px 0;
}
#section-2 img{
    display:block;
    margin:0 auto;
}



/* SECTION 3 */
#section-3 main{
    padding-right:40px;
}
#section-3 article{
    margin-bottom:60px;
}
#section-3  article img{
    float:left;
    margin-right:30px;
}
#section-3 article h3, 
#section-3 article p,
#section-3 article span{
    margin:0
}
#section-3 main article .art-category{    
    text-transform: uppercase;
    font-weight: 900;
    color: red;
    font-size: 0.8em;
    margin-bottom:10px;
    display:block;
}
#section-3 article h3{
    color:black;
    margin-bottom:8px;
}
#section-3 article .author{
    margin-bottom: 12px;
    display: block;
    color: darkgrey;
    font-style: italic;
    font-size:12px;
}
#section-3 article p{
    line-height:1.65em
}


.bold-italic{
   font-weight: 900;
    font-style: italic;
}


/* ASIDE BLOCK */
#section-3 aside h2{
    font-size:16px;
    margin-bottom:38px;
}
#section-3 aside article{
    position:relative;
}
#section-3 aside article a{text-decoration:none;}
#section-3 aside article .aside-number{
    background-color:red;
    position: absolute;
    top: 24px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.1em;
    color: white;
    border: solid 2px white;
}

#section-3 aside article h3{
    font-size:14px;
}

#section-3 aside article img{
    margin-right:15px;
}

#section-3 aside .newsletter{
    border:solid 4px lightgrey;
    padding:15px;
    margin-bottom:20px;
}
#section-3 aside .newsletter h2{
    font-size:20px;
    color:black;
    margin:0;
}

.social-networks a{
    display:block;
    padding:5px 10px;
    border-radius:5px;
    margin-bottom:10px;
    text-decoration: none;
    font-weight:900;
    color:white;
}

.social-networks a:hover{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5); 
}
.social-networks a i{
     margin-right:15px;   
}
.social-networks .facebook {
    background-color: #37538a;
}
.social-networks .twitter {
    background-color: #59adec;
}
.social-networks .googleplus {
    background-color: #dc4c3f;
}
.social-networks .instagram {
    background-color: #bf3681;
}
.aside-ad {
    margin-top: 70px;
}

#section-4{
    padding:50px 0;
}

#section-4 article{clear: both; margin-bottom:62px;}

#section-4 img{float:left;margin-right:15px;}



/* ---  OTHER DETAILS  --- */
.hidden {
    display: none!important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@media print {
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    img,
    tr {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}